* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/*Resize the wrap to see the search bar change!*/
.wrap {
  display: flex;
  padding: 20px;
  background-color: #eaeaea;
  justify-content: space-around;
  align-items: center;
  
}

.wrap * {
  font-size: 16px;
}
.search {
  /* width: 80%; */
  /* position: relative; */
  display: flex;
  /* margin: auto; */
  flex-basis: 50%;
  height: 59.2px;
  align-items: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  /* height: 20px; */
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  /* color: #9DBFAF; */
}

.searchButton {
  /* width: 40px; */
  /* height: 34.8px; */
  height: 100%;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}

.user,
.navbarButton {
  padding: 8px;
  background-color: #d2d2d2;
  border-radius: 10px;
  flex-basis: 10%;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .wrap {
      flex-direction: column;
  }

  .wrap > * {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
  }
}